.desk-header{
	background-color:#dd4b39;
}
.desk-header .ff-brand{
	background-color:#d73925;
	width:230px;
	padding:6px;
	font-size:24px;
	color:#000;
	float:left;
}
.desk-header .ff-brand span{
	color:#fff;
	font-family: 'Varela Round', sans-serif;
}
.desk-header .ff-brand-bars{
	margin-left:245px;
}
.desk-header .ff-brand-bars span{
	float:left;
	color:#fff;
	margin-top:17px;
	font-size:16px;
	cursor:pointer;
}
.desk-header .header-notification-symbol{
	float:right;
	font-size:16px;
	padding:13px 10px 0 0;
}
.desk-header .header-notification-symbol .label{
	font-size: 9px;
	line-height: 0.9;
	padding: 2px 3px;
	position: relative;
	text-align: center;
	margin-left: -8px;
	top: -8px;
}









.sidebar .navigation{
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: outside none none;
}
.sidebar .navigation li{
	color:#b8c7ce;
	padding: 10px 25px 10px 15px;
	font-size: 14px;
	border-left: 3px solid #222d32;
}
.sidebar .navigation li span{
	margin-left: 3px;
}

.sidebar .navigation li:first-child{
	border-left: 3px solid #1a2226;
	color:#4b646f;
	background-color:#1a2226
}

.sidebar .navigation li:hover{
	background-color: #1e282c;
	border-left: 3px solid;
	border-left-color: #dd4b39;
	cursor: pointer;
	color: white;
}

.sidebar .navigation li:first-child:hover{
	border-left: 3px solid #1a2226;
	background-color: #1a2226;
	cursor: inherit;
	color:#4b646f;
}